.board-cell {
  flex: 1;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 1px solid #DDD;
}

.board-cell.highlighted {
  border: 3px solid #DDAAAA !important;
}

.board-cell.movable {
  background-color: #EEFFEE
  /* border: 2px solid #BBB !important; */
}